body{
	margin: 0;
	padding: 0;

}
body{
	margin: 0;
	padding: 0;
}
.badge_one{
	top:30%;
	left: 12%;
}
.text-style{
	font-size: 18px;
	color: black;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	
}